<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2>Welcome to Bloodrush!</h2>
  <p *ngIf="acc.team">
    Welcome {{acc.team.name}}
  </p>
</ion-content>

<ion-menu [content]="sidemenu">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-content>
      <ion-list>
        <button *ngIf="!acc.team" ion-item menuClose (click)="openLogin()">
        Login
      </button>
        <button *ngIf="acc.team" ion-item menuClose (click)="logout()">
        Logout
      </button>
        <button ion-item menuClose>
        Close
      </button>
      </ion-list>
    </ion-content>
  </ion-content>
</ion-menu>

<ion-nav #sidemenu [root]="rootPage"></ion-nav>