<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ng-container *ngIf="acc.team && acc.players">
    <ion-list>
      <ion-list-header>{{acc.team.name}}</ion-list-header>
      <ion-item width="100%">
        <img src="{{config[envName].imgUrl}}teamlogos/{{acc.team.id}}.png">
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>Players</ion-list-header>
      <button ion-item *ngFor="let player of acc.players">
      {{player.first}} {{player.last}}
    </button>
    </ion-list>
  </ng-container>
</ion-content>

<ion-menu [content]="sidemenu">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-content>
      <ion-list>
        <button *ngIf="!acc.team" ion-item menuClose (click)="openLogin()">
        Login
      </button>
        <button *ngIf="acc.team" ion-item menuClose (click)="logout()">
        Logout
      </button>
        <button ion-item menuClose>
        Close
      </button>
      </ion-list>
    </ion-content>
  </ion-content>
</ion-menu>

<ion-nav #sidemenu [root]="rootPage"></ion-nav>